@import '/styles/mixins.scss';
@import '/styles/variables.scss';

.container {
    display:flex;
    align-items: center;
    justify-content: center;
    height:100%;
    .loginContainer {
        margin:0 auto;
        border-radius:40px;
        max-width: 700px;
        width: 80%;
        padding:50px;
        display:flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: $accent-bg;
    }
}