@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.mainContainer {
    @include rightContainer;
}

.playlistsContainer {
    display: flex;
    flex-wrap: wrap;
    @media  (max-width: 900px) {
        justify-content: center;
        align-items: center;
    }
}
