@import '/styles/mixins.scss';
@import '/styles/variables.scss';
@import '../../styles/font-awesome-scss/fontawesome.scss';
@import '../../styles/font-awesome-scss/solid.scss';

.secondaryLinks {
    list-style-type: none;
    padding:0;
    margin:0 auto;
    font-size:16px;
    text-transform: capitalize;
    margin-top:20px;
    position:relative;
    color: darken($base-text, 50%);
    .secondaryLink {
        cursor:pointer;
        margin: 0 0 30px 0;
        @include transition;
        &:before {
            @include transition;
            content: '';
            display: block;
            position: absolute;
            height: 40px;
            margin-top:-10px;
            left: -300%;
            width: 200%;
            background-color: $accent-alt;
            border-radius: 0 20px 20px 0;
            z-index: -1;
        }
        &:hover,
        &.currentTab  {
            color:$base-text;
            &:before {
                left: -100%;
            }
        }
    }
}