@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.playlist {
    margin:0px 40px 40px 0;
    width: 160px;
    cursor:pointer;
    @include transition;
    overflow: hidden;
    position: relative;
    &:hover {
        .imgContainer .player {
            background:$accent;
            @include transition;
        }
        .player {
            top:145px;
            visibility: visible;
            opacity:1;
        }
    }
    .imgContainer {
        @include transition;
        width: 160px;
        height: 160px;
        overflow:hidden;
        position: relative;
        border-radius:20px;
        img {
            width: 160px;
            @include transition;
        }
    }    
    .player {
        width: 30px;
        height: 30px;
        border-radius:20px;
        background:$accent;
        @include transition;
        z-index:100;
        position: absolute;
        top:165px;
        right:5px;
        display: flex;
        align-items: center;
        justify-content: center;
        visibility: hidden;
        opacity:0;
        color:$accent-bg;
    }
    .infoContainer {
        margin-top:15px;
        max-width: 100%;
        @include transition;
        h2 {
            font-size: 14px;
            margin:0;
        }
        .tracksCount,.artistName {
            font-size:12px;
            margin:0;
        }
    }
}