@import '/styles/mixins.scss';
@import '/styles/variables.scss';

.nav {
    height: 100%;
    position: relative;
    ul.links {
        list-style-type: none;
        padding:0;
        margin:50px auto 0 auto;
        font-size:16px;
        text-transform: capitalize;
        position:relative;
        color:$base-text;
        .mainLink {
            color: darken($base-text,50%);
            font-size:16px;
            letter-spacing: 0.05em;
            margin-bottom: 30px;
            display:block;
            text-transform:uppercase;
            font-weight: bold;
            @media  (max-width: 900px) {
                display:none;
            }
        }
        @media  (max-width: 900px) {
            margin:0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
        }
    }
}