@import '/styles/mixins.scss';
@import '/styles/variables.scss';
@import '../../styles/font-awesome-scss/fontawesome.scss';
@import '../../styles/font-awesome-scss/solid.scss';

.topbar {
    width: 300px;
    background-color: $accent-bg;
    padding: 50px;
}