@import '/styles/mixins.scss';
@import '/styles/variables.scss';

.topbar {
    width: 300px;
    background-color: $accent-bg;
    padding: 50px;
    @media  (max-width: 900px) {
        padding: 0px;
        width: 100%;
    }
}