@import '/styles/mixins.scss';
@import '/styles/variables.scss';

.mainContainer {
    @include rightContainer;
}

.playlistsContainer {
    display: flex;
    flex-wrap: wrap;
    ul {
        list-style-type: none;
        padding:0;
        margin:0;
        width: 100%;
    }
}

.player {
    position: fixed;
    bottom:0;
    width: 100%;
}
