@import '/styles/mixins.scss';
@import '/styles/variables.scss';
@import '../../styles/font-awesome-scss/fontawesome.scss';
@import '../../styles/font-awesome-scss/solid.scss';


li.track {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1200px;
    margin-bottom: 20px;
    padding:10px;
    .trackInfo {
        padding: 0 15px;
        flex-grow: 2;
        line-height: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        .trackName{
            font-weight: bold;
        }
        .trackArtists {
            padding:3px;
            span {
                &:after{
                    content:", ";
                }
                &:last-child:after{
                    content:''
                }
            }
        }
        .trackName, .trackArtists {
            display:block;
            max-width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
    img {
        width:50px;
        height:50px;
        border-radius: 10px; 
        display:block;
        flex: 0 0 50px;
    }
    .trackDuration {
        padding-right: 20px;
        flex: 0 0 30px;
    }
    &:hover,
    &:active {
        background-color:$accent-bg;
        border-radius: 15px; 
        cursor:pointer;
    }
}