@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Rubik:wght@300;400&display=swap');
@mixin reset-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

@mixin titleFont {
    font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

@mixin open-sans {
    font-family: 'Open Sans', sans-serif;
}

@mixin transition {
    transition: all 0.4s ease-out;
}

@mixin mainContainer {
    background:$base-bg;
    display: flex;
    @media  (min-width: 900px) {
        height: 100vh;
        overflow: hidden;
    }
    @media  (max-width: 900px) {
        flex-direction: column;
    }
}

@mixin rightContainer {
    padding:80px;    
    width:100%;
    h1 {
        text-transform: uppercase;
        letter-spacing: 0.15em;
        margin-bottom: 50px;
    }
    h2 {
        margin-bottom:20px;
        font-weight: bold;
    }
    @media  (min-width: 900px) {
        flex-grow: 1;
        overflow-y: scroll;
    }
    @media  (max-width: 900px) {
        max-width: 700px;
        padding:40px;
    }
}

