@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Rubik:wght@300;400&display=swap');
@mixin reset-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

@mixin titleFont {
    font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

@mixin open-sans {
    font-family: 'Open Sans', sans-serif;
}

@mixin transition {
    transition: all 0.4s ease-out;
}

